@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Secular+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Secular+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sun-color: #ffd029;
    --earth-color: #428ed4;
    --mercury-color: #8c8a85;
    --mars-color: #ef5f5f;
    --venus-color: #e7cccc;
    --jupiter-color: #e29468;
    --saturn-color: #c7aa72;
    --saturn-ring-color: #ddccaa;
    --uranus-color: #c9d4f1;
    --neptune-color: #7a91a7;
    --gold-letters-color: #ffd029;
    --white-letters-color: #ffffff;
    --background-right-color: #190b22;
    --background-left-color: #0f184d;
}

body {
    background-image: url("star-transparent.png"),
        linear-gradient(to left,
            var(--background-right-color),
            var(--background-left-color));
    color: var(--white-letters-color);
    padding: 1rem 2rem;
    height: 100vh;
    min-width: 990px;
    overflow: hidden;

    /* for footer to stay on the bottom */
    display: flex;
    flex-direction: column;
}

nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    
    a {
        text-decoration: none;
        color: skyblue;
        text-transform: uppercase;
        font-size: .7rem;
        font-family: Arial;
    }
}

h1 {
    font-family: Secular One;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.09em;
    text-align: right;
    text-transform: uppercase;
}

h2 {
    color: var(--gold-letters-color);
    font-family: Lora;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.6em;
    text-align: right;
    text-transform: uppercase;
}

h5 {
    font-family: Secular One;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.09em;
    text-align: left;
}

.home-main {
    /* for footer to stay on the bottom */
    flex: 1;

    display: flex;
}

.favorites-main {
    /* for footer to stay on the bottom */
    flex: 1;
}

.planet-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.planets {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.planet {
    border-radius: 50%;
    aspect-ratio: 1;
}

.sun {
    width: 1278px;
    background-color: var(--sun-color);
    flex: 1;
    position: absolute;
    top: -33%;
    right: 93%;
}

.mercury {
    width: 14px;
    background-color: var(--mercury-color);
}

.venus {
    width: 26px;
    background-color: var(--venus-color);
}

.earth {
    width: 28px;
    background-color: var(--earth-color);
}

.mars {
    width: 14px;
    background-color: var(--mars-color);
}

.jupiter {
    width: 188px;
    background-color: var(--jupiter-color);
}

.saturn {
    width: 144px;
    background-color: var(--saturn-color);
}

.uranus {
    width: 66px;
    background-color: var(--uranus-color);
}

.neptune {
    width: 66px;
    background-color: var(--neptune-color);
}

.planet-name,
.planet-name-latin {
    text-align: left;
}

.planet-with-shadows {
    flex: 1;
}

.active-planet {
    width: 1278px;
    background-color: var(--earth-color);
    position: absolute;
    top: -33%;
    right: 93%;
}

.shadow-1 {
    width: 1288px;
    background-color: var(--earth-color);
    position: absolute;
    top: -33%;
    right: 88%;
    opacity: .3;
}

.shadow-2 {
    width: 1298px;
    background-color: var(--earth-color);
    position: absolute;
    top: -33%;
    right: 83%;
    opacity: .3;
}

.planet-info {
    flex: 1;
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1rem;
}

.planet-data {
    display: flex;
    width: 100%; 
}

.info-left,
.info-right {
    flex: 1;

    p,
    ul li {
        font-family: Roboto Condensed;
        font-size: 18px;
        font-weight: 300;
        line-height: 30.6px;
        text-align: left;
    }

    ul {
        list-style-type: none;
    }
}

.planet-description {
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 300;
    line-height: 30.6px;
    text-align: left;
    padding: 1rem 0;
}

#add-favorite-btn {
    width: max-content;
    background-color: skyblue;
    color: var(--background-left-color);
    padding: .3rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .7rem;
}

footer {
    height: 15%;
    text-align: center;
    font-size: .7rem;
    padding-top: 5rem;
}

/* favorite page style */
.favorites-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
    width: 60%;
    margin-top: 5rem;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    .planet-card {
        height: 240px;
        width: 180px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: var(--background-right-color);

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }

        h4 {
            text-align: center;
            padding: 11px;
            letter-spacing: 0.2rem;
            word-spacing: 0.3rem;
        }
    }
}